.cart{
   margin:100px;
   border: 2px solid black;
   /* width: fit-content; */
}
.servings{
   display: flex;
}
.buttons{
   height: 20px;
   width: 20px;
   padding-bottom: 15px;
   margin:0 5px 0 5px;
}